body {
  font-family: 'Roboto', sans-serif;
  background: white;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-family: 'Shrikhand', cursive;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  margin: 60px 0 0 0;
}

h2 {
  text-align: center;
  font-family:'Roboto', sans-serif;
  color: #eacb86;
  margin: 0px 0 24px 0;
}

ul {
  padding-bottom: 32px;
}

a {
  text-decoration: none;
  font-family: 'Shrikhand', cursive;
  text-transform: uppercase;
  font-size: 20px;
  color: black;
}

small {
  opacity: 0; 
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 500px) {  
  h1 {
    font-size: 50px;
    margin-top: 20px;
    line-height: 40px;
  }
  h2 {
    font-size: 20px;
    margin: 10px;
  }
  
  a {
    font-size: 20px;
  }
  
  p {
    font-size: 20px;
    line-height: 24px;
  }
  
  small {
    font-size: 12px;
  }
  .social-media {
    display: block;
    margin: 30px auto;
  }
}
