
h1 {
  font-family: 'Shrikhand', cursive;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  margin: 60px 0 0 0;
}

h2 {
  text-align: center;
  font-family:'Roboto', sans-serif;
  color: #eacb86;
  margin: 0px 0 24px 0;
}

small {
  opacity: 0; 
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 500px) {  
  h1 {
    font-size: 50px;
    margin-top: 20px;
    line-height: 40px;
  }
  h2 {
    font-size: 20px;
    margin: 10px;
  }
  
  .sweat-category {
    font-size: 20px;
    line-height: 24px;
  }
  
  small {
    font-size: 12px;
  }
  .social-media {
    display: block;
    margin: 30px auto;
  }
}

.sweat-category {
  color: rgba(255,255,255,1);
  font-family: 'Shrikhand', cursive;
  background: black;
  background: linear-gradient('to top', rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -webkit-linear-gradient('to top', rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -moz-linear-gradient('to top', rgba(0,0,0,1), rgba(0,0,0,.4));
  padding: 10px;
  line-height: 28px;
  text-align: justify;
  position: absolute;
  bottom: 0;
  margin: 0;
  height: 30px;
  transition: height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
}

.sweat-section {
  margin: 10px;
  height: 400px;
  width: 300px;
  display:inline-block;
  background-size: cover;
  position: relative;
  margin: 10px 30px
}

.show-description p {
  height: 150px;
}

.show-description small {
  opacity: 1;
}

.grey-sweat{
  background-image: url("http://picture-cdn.wheretoget.it/5p7cru-i.jpg");
}

.maroongrey-sweat{
  background-image: url("http://www.apparelsourcewholesale.com/images/F497_l.jpg");
}

.purple-sweat{
  background-image: url("https://cdnc.lystit.com/photos/2013/04/23/american-apparel-purple-zip-hoodie-product-1-8109134-500514927.jpeg");
}

.tank{
  background-image: url("http://www.blankstyle.com/files/imagecache/product_full/8308%20Athletic%20Grey.jpg")
}

.price {
  float: right;
  font-family: 'Shrikhand', cursive;
  font-size: 20px;
}

footer {
  margin: 10px auto;
  width: 100%;
}
